.edit-medicine-container {
    padding: 20px;
  }
  
  .edit-medicine-name {
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
    color: #333;
  }
  
  .edit-medicine-form {
    border: 2px solid #38bdf8;
    border-radius: 10px;
    padding: 20px;
    max-width: 750px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-size: 18px;
    color: #666;
    margin-right: 10px;
  }
  
  .form-input {
    width: 97%;
    padding: 10px ;
    border: 2px solid #666;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    margin-right: 5px;
  }
  
  .save-button {
    background-color: #7dd3fc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
  }
  
  .save-button:hover {
    background-color: #38bdf8;
  }