/* Floating NavBar */
.floating-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-top: 6px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Optional: Add smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

.circle-card-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  padding: 10px 0;
}

.circle-card-container > .CircleCard {
  flex: 1 1 calc(18% - 10px);
  margin: 5px;
  max-width: 150px;
}

.product-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px 30px;
  padding: 20px;
}