.DriverProfile-container {
    /* margin: 2rem; */
    padding: 120px;
    /* width:100%; */
    margin-left:400px;
    margin-bottom: 500px;
    margin: 0;
    height: 67vh;

    background: linear-gradient(to bottom, #bfdbfe, #ffffff);
    
  }
  
  .DriverProfile-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    margin-top: -20px;
    

  }
  
  .DriverProfile-card {
    background-color: #f9fafb;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width:500px;
    height:50vh;
    margin-left:350px;
  }
  
  .DriverProfile-card p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .text-green {
    color: green;
  }
  
  .text-red {
    color: red;
  }
  
  .back-btn {
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .back-btn:hover {
    background-color: #0056b3;
  }
  