.Delivery-sidebar {
  width: 320px;
  height: 100vh;
  background-color: #1f2937;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 110px;
  z-index: 1000; /* Ensures it stays above other content */
}

.Delivery-profile-section {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.Delivery-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #374151;
  margin-right: 10px;
}

.Delivery-profile-name {
  font-weight: bold;
}

.Delivery-profile-role {
  font-size: 0.9rem;
  color: #facc15;
}

/* .Delivery-sidebar-nav {
  list-style: none;
  width: 10%;
  padding: 0;
  margin-top: 15px;
} */

.Delivery-nav-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  background-color: #1f2937;
}

.Delivery-nav-item:hover,
.Delivery-nav-item.active {
  background-color: #0891b2;
}

.Delivery-icon {
  margin-right: 10px;
}

.Delivery-footer-text {
  position: absolute;
  bottom: 20px;
  font-size: 12px;
  color: gray;
}

.Delivery-version-text {
  position: absolute;
  bottom: 5px;
  font-size: 12px;
  color: gray;
}
